---
const { name, description, location, banner, url, month, day } = Astro.props;
---

<li
  class="flex min-w-0 gap-3 md:[&:nth-child(3)]:hidden xl:[&:nth-child(3)]:flex text-white rounded-md bg-white/10 group cursor-pointer w-full sm:max-w-[360px]"
>
  <a href={url} target={url.includes("http") ? "_blank" : null}>
    <div
      class="flex min-w-0 flex-1 flex-col justify-between p-4 group-hover:bg-[#000214]/10 bg-[#000214]/50 gap-3"
    >
      <span class="flex flex-row justify-between items-center">
        <span class="flex flex-col items-start">
          <h3 class="truncate text-base text-center">
            {name}
          </h3>

          <h3 class="truncate text-xs text-center text-zinc-400">
            {location}
          </h3>
        </span>
        <p>
          <time
            class="rounded-xl border-zinc-400 border sm:min-h-[55px] sm:min-w-[55px] sm:flex flex-col justify-center items-center text-xs sm:text-sm text-center capitalize hidden"
            datetime="2023-11-25T23:00:00+00:00"
          >
            {month}
            <br />
            {day}
          </time>
        </p>
      </span>
      <p class="line-clamp-4 text-sm text-zinc-400">
        {description}
      </p>
      <img class="w-full" alt={name} loading="lazy" src={banner} />
    </div>
  </a>
</li>
