---
import { socialNetworks } from "data/la-meetup.json";
import { title, subtitle, description } from "content/landing.json";
import events from "content/events.json";
import { getNextEvent } from "libs/next-event";

const nextEvent = getNextEvent(events);
---

<section
  id="inicio"
  class="flex flex-col gap-4 items-center justify-center flex-1 relative min-h-[100dvh] w-full pt-[64px]"
>
  <h1
    class="text-primary text-6xl xl:text-[80px] leading-none text-center font-black uppercase mb-12 text-yellow-400"
  >
    {title}
    <span id="subtitle" class="text-6xl lg:text-8xl xl:text-9xl block uppercase"
      >{subtitle}</span
    >
  </h1>
  <div>
    <h2
      class="animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-4xl text-white text-center"
    >
      {description}
    </h2>
  </div>
  {
    nextEvent ? (
      <div class="text-white flex flex-row items-center justify-center gap-6 font-bold mt-8">
        <span class="flex flex-col items-center text-lg sm:text-3xl">
          <p id="days">00</p>
          <p class="text-sm sm:text-xl">DIAS</p>
        </span>
        <span class="flex flex-col items-center text-lg sm:text-3xl">
          <p id="hours">00</p>
          <p class="text-sm sm:text-xl">HORAS</p>
        </span>
        <span class="flex flex-col items-center text-lg sm:text-3xl">
          <p id="minutes">00</p>
          <p class="text-sm sm:text-xl">MINUTOS</p>
        </span>
        <span class="flex flex-col items-center text-lg sm:text-3xl">
          <p id="seconds">00</p>
          <p class="text-sm sm:text-xl">SEGUNDOS</p>
        </span>
      </div>
    ) : (
      <div class="text-white flex flex-col items-center justify-center gap-2 font-bold mt-2">
        <img
          src="/svg/no_event.svg"
          class="max-h-[150px]"
          alt="Ilustración de un calendario triste"
        />
        <h3>¡Lo sentimos, actualmente no hay eventos confirmados!</h3>
      </div>
    )
  }
  {
    nextEvent ? (
      <h3 class="animate-fadeIn animate-delay-200 text-sm text-white text-center mb-8 font-[600]">
        Próximo Evento | {nextEvent.name} |{" "}
        {new Date(nextEvent.date).toLocaleDateString("es-ES", {
          day: "numeric",
          month: "long",
        })}
      </h3>
    ) : null
  }

  <div class="flex flex-row gap-5 flex-wrap justify-center">
    <a href={socialNetworks.slack} target="_blank">
      <button
        class="flex flex-row gap-1.5 items-center justify-center py-2 bg-white rounded-sm w-[240px] font-bold text-lg cursor-pointer transition-[zoom] hover:scale-[1.018]"
      >
        Comunidad de Slack
      </button>
    </a>
    <a
      href={nextEvent?.url ?? "#"}
      target={nextEvent?.url?.includes("http") ? "_blank" : null}
    >
      <button
        class="flex flex-row gap-1.5 items-center justify-center py-2 bg-white rounded-sm w-[240px] font-bold text-lg cursor-pointer transition-[zoom] hover:scale-[1.018]"
      >
        Más Información
      </button>
    </a>
  </div>
  <p
    class="absolute text-white text-md font-bold animate-bounce bottom-1 cursor-pointer p-2"
  >
    <a href="#historia">╲╱</a>
  </p>
  <div
    class="hidden lg:flex flex-row justify-between max-w-[1200px] w-full position absolute bottom-1 items-end z-[-1] self-center"
  >
    <img src="/svg/girl.svg" class="h-[480px]" alt="Ilustración de una mujer" />
    <img src="/svg/man.svg" class="h-[260px]" alt="Ilustración de una hombre" />
  </div>

  <script>
    import events from "content/events.json";
    import { getNextEvent } from "libs/next-event";
    const nextEvent = getNextEvent(events);

    const date = nextEvent.date;

    const targetDate = new Date(date);

    const DAYS_ELEMENT_ID = "days";
    const HOURS_ELEMENT_ID = "hours";
    const MINUTES_ELEMENT_ID = "minutes";
    const SECONDS_ELEMENT_ID = "seconds";

    function updateCountdown() {
      const currentDate = new Date();
      const timeDifference = targetDate - currentDate;

      if (timeDifference <= 0) {
        // Target date has been reached
        document.getElementById(DAYS_ELEMENT_ID).textContent = "00";
        document.getElementById(HOURS_ELEMENT_ID).textContent = "00";
        document.getElementById(MINUTES_ELEMENT_ID).textContent = "00";
        document.getElementById(SECONDS_ELEMENT_ID).textContent = "00";
      } else {
        const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
          (timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor(
          (timeDifference % (1000 * 60 * 60)) / (1000 * 60)
        );
        const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

        document.getElementById(DAYS_ELEMENT_ID).textContent = String(
          days
        ).padStart(2, "0");
        document.getElementById(HOURS_ELEMENT_ID).textContent = String(
          hours
        ).padStart(2, "0");
        document.getElementById(MINUTES_ELEMENT_ID).textContent = String(
          minutes
        ).padStart(2, "0");
        document.getElementById(SECONDS_ELEMENT_ID).textContent = String(
          seconds
        ).padStart(2, "0");
      }
    }

    setInterval(updateCountdown, 1000);
    updateCountdown();

    let subtitleSpan = document.getElementById("subtitle");
    const originalText = subtitleSpan.textContent;
    const originalLetters = Array.from(originalText);
    let index = 0;

    const intervalId = setInterval(() => {
      let letters = [...originalLetters];
      if (index < letters.length) {
        letters[index - 1] = `<span class="text-yellow-400">${
          originalLetters[index - 1]
        }</span>`;
        letters[index] = `<span class="text-blue-500">${letters[index]}</span>`;

        subtitleSpan.innerHTML = letters.join("");
        index++;
      } else {
        index = 0;
        subtitleSpan = document.getElementById("subtitle");
        subtitleSpan.innerHTML = `<span class="text-yellow-400" id="subtitle">${originalText}</span>`;

        setTimeout(() => {
          subtitleSpan.innerHTML = `<span class="text-blue-400" id="subtitle">${originalText}</span>`;
        }, 600);

        setTimeout(() => {
          subtitleSpan.innerHTML = `<span class="text-yellow-400" id="subtitle">${originalText}</span>`;
        }, 1500);

        clearInterval(intervalId);
      }
    }, 600);
  </script>
</section>
