---
import {
  title,
  subtitle,
  fullDate,
  location,
  location_url,
  socialNetworks,
  event_interested_form_url,
  register_url,
} from "data/la-meetup.json";
---

<section
  id="inicio"
  class="flex flex-col gap-4 items-center justify-center flex-1 relative min-h-[100dvh] w-full pt-[64px]"
>
  <h1
    class="text-primary text-6xl xl:text-[80px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-12 text-yellow-400"
  >
    {title}
    <span class="text-6xl lg:text-8xl xl:text-9xl block uppercase">{subtitle}</span>
  </h1>
  <div>
    <h2
      class="animate-fadeIn animate-delay-200 font-extrabold text-4xl lg:text-5xl text-white text-center"
    >
      {fullDate}
    </h2>
    <a href={location_url} target="_blank">
      <h3
        class="animate-fadeIn animate-delay-200 text-lg lg:text-lg text-white text-center mt-2 font-[600]"
      >
        {location}
      </h3>
    </a>
  </div>
  <p
    class="absolute text-white text-md font-bold animate-bounce bottom-1 cursor-pointer p-2"
  >
    <a href="#agenda">╲╱</a>
  </p>
</section>
